@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url("idroid/IDroid.otf") format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #86cf89;
    --cor2: #263326;
    --cor3: white;
    --cor4: #465247;
    --cor5: rgba(0, 0, 0, 0.288);
}


header {
    font-family: "Android", sans-serif;
    color: var(--cor3);
    background-image: linear-gradient(var(--cor1), var(--cor4));
    padding: 20px;
    text-align: center;
}

nav {
    text-align: right;
}

nav button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 30px;
    font-weight: bolder;
}

nav button:hover {
    color: var(--cor3);
    background-color: var(--cor4);
}

section {
    text-align: center;
    margin: 0;
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

section > h2 {
    font-family: "Android", sans-serif;
    font-weight: lighter;
    background-color: var(--cor4);
    color: var(--cor3);
    margin-top: 20px;
    margin-right: -5px;
    margin-bottom: 20px;
    margin-left: -5px;
    position: sticky;
    top: -1px;
}

section > a > article {
    color: var(--cor3);
    border-radius: 30px;
    width: 30%;
    display: inline-block;
    background-image: linear-gradient(to top, var(--cor4), var(--cor1));
    text-align: justify;
    margin-top: 30px;
    margin-right: 2px;
    margin-left: 2px;
}

section > a > article:hover {
    box-shadow: 10px 10px 40px var(--cor5);
}

article > h3 {
    font-size: 1em;
    padding: 8px;
}

section > a > article > p {
    padding: 12.5px;
    margin-top: -10px;
}

article > p {
    padding: 3px;
}

.img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

footer {
    height: 70px;
    text-align: center;
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 0px;
    margin-top: 20px;
}

footer h4 {
    font-family: "Android", sans-serif;
    padding: 10px;
    text-align: left;
}

footer h4 nav {
    padding: 10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    background-color: var(--cor4);
}

footer nav a img {
    width: 45px;
    border-radius: 50%;
    padding: 5px;
}

footer nav a img:hover {
    position: relative;
    transform: translate(-5px, -5px);
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
}