@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url("idroid/IDroid.otf") format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #86cf89;
    --cor2: #263326;
    --cor3: white;
    --cor4: #465247;
    --cor5: rgba(0, 0, 0, 0.288);
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 30px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    margin: 0px;
}

header h1 {
    font-family: "Android", sans-serif;
    color: var(--cor3);
    font-weight: bolder;
    text-align: center;
}

header > h1 > a {
    text-decoration: none;
    color: var(--cor3);
}

header > h1 > a:hover {
    text-decoration: none;
}

nav {
    text-align: right;
    background-color: var(--cor4);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: var(--cor3);
    margin-right: 15px;
}

nav > a:hover {
    text-decoration: underline;
}

nav button {
    padding: 15px;
}

header a:hover {
    text-decoration: underline;
}

#sec1 {
    text-align: center;
    margin: 0;
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

#sec1 > h2 {
    font-family: "Android", sans-serif;
    font-weight: lighter;
    background-color: var(--cor4);
    color: var(--cor3);
    margin-top: 15px;
    margin-right: -5px;
    margin-left: -5px;
    position: sticky;
    top: -1px;
}

#sec1 > a > article {
    color: var(--cor3);
    border-radius: 30px;
    width: 30%;
    display: inline-block;
    background-image: linear-gradient(to top, var(--cor4), var(--cor1));
    text-align: justify;
    margin-top: 30px;
    margin-right: 2px;
    margin-left: 2px;
}

#sec1 > a > article:hover {
    box-shadow: 10px 10px 40px var(--cor5);
}

article > h3 {
    font-size: 1em;
    padding: 8px;
}

#sec1 > a > article > p {
    padding: 12.5px;
    margin-top: -10px;
}
#sec1  button {
    margin-left: 10px;
    margin-bottom: 10px;
}


article > p {
    padding: 3px;
}

button {
    padding: 10px;
    border-radius: 30px;
    font-weight: bolder;
}

button:hover {
    color: var(--cor3);
    background-color: var(--cor4)
}


.img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

#sec2 {
    box-shadow: 10px 10px 40px var(--cor5);
}

#sec2 h2 {
    font-family: "Android", sans-serif;
    font-weight: lighter;
    background-color: var(--cor4);
    color: var(--cor3);
    text-align: center;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
}

#sec2  img {
    max-width: 97.87vw;
}

#sec3 {
    margin-top: -3.5px;
    background-color: var(--cor4);
    box-shadow: 10px 10px 10px var(--cor5);
}

#sec3 h2 {
    color: var(--cor3);
    font-family: "Android", sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

#sec3 p {
    color: var(--cor3);
    text-indent: 10px;
    text-align: justify;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#sec3 button {
    padding: 15px;
    margin-bottom: 10px;
}

nav button {
    margin-right: -10px;
}

#sec35 {
    height: 300px;
    background-color: var(--cor3);
    background-image: url("products/pro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#sec4 {
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 20px;
    margin-top: 0px;
    box-shadow: 10px 10px 10px var(--cor5);
}

#sec4 h2 {
    text-align: center;
    font-family: "Android", sans-serif;
    font-weight: lighter;
}

#sec4 > p {
    text-align: center;
}

#sec4 > article {
    padding: 10px;
    margin-top: 20px;
}

#sec4 > article > h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#sec4 > article > .parag {
    text-align: justify;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#sec4 > nav {
    margin-right: -20px;
}

#sec7 {
    margin-top: 40px;
    margin-bottom: 40px;
}
#sec7 h2 {
    font-family: "Android", sans-serif;
    font-weight: lighter;
    color: var(--cor3);
    background-color: var(--cor4);
    text-align: center;
}

#sec7 p {
    padding: 20px;
}

#sec7 > p > a {
    text-decoration: none;
}

#sec7 > p > a:hover {
    text-decoration: underline;
}

#sec7 > p > a:active {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 2px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    text-decoration: none;
}